.authBtn {
    padding: 15px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    letter-spacing: 0.5px;
    width: 100%;
}

.authBtn:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.btnContent {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.logoWrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

/* Адаптивная верстка для кнопок */
@media (max-width: 768px) {
  .authBtn {
    padding: 12px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .authBtn {
    padding: 10px;
    font-size: 12px;
  }
}
